#contacts {
    background-image: url("../../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 100vw;
    height: 85vh;
    padding: 10px;
}

#contacts #contacts-frame {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 3vh;
}

#contacts #contacts-frame h1 {
    font-size: 2.3vw;
    font-family: "Roboto", sans-serif;
    color: #148F31;
    text-transform: uppercase;
}

#contacts #contacts-frame .contact {
    display: flex;
    align-items: center;
}

#contacts #contacts-frame .contact .contact-image {
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts #contacts-frame .contact .contact-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#contacts #contacts-frame .contact .contact-info {
    margin-left: 20px;
}

#contacts #contacts-frame .contact .contact-info h1{
    font-family: "Inter", sans-serif;
    color: #FFF;
    font-size: 1.7vw;
}

#contacts #contacts-frame .contact .contact-info p{
    color: #e2e2e2;
}

#contacts #contacts-frame .contact .contact-info a{
    color: #148F31;
}

@media screen and (max-width: 780px) {
    #contacts #contacts-frame h1 {
        font-size: 4.3vw;
    }
    #contacts #contacts-frame .contact .contact-info h1 {
        font-size: 3vw;
    }
}